<div class="logo logo--red">
  <div class="logo--pretitle"></div>
  <div></div>
  <div class="logo--titlePart1">DROP</div>
  <div class="logo--titlePart2">SHIP</div>
  <div></div>
  <div class="logo--posttitle">
    {%- assign chars = 'NONSENSE' | split: '' %}
    {%- for char in chars %}
      <span>{{ char }}</span>
    {%- endfor %}
  </div>
</div>